<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Authorization" />
                <binding name="Board" />
                <binding name="list" />
                <binding name="card" />
                <binding name="userprof" />
                <binding name="reg" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="mex">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/authservice/authorization"
                binding="basicHttpBinding" bindingConfiguration="Authorization"
                contract="AuthorizationService.IAuthorizationContract" name="Authorization" />
            <endpoint address="http://localhost/boardservice/board" binding="basicHttpBinding"
                bindingConfiguration="Board" contract="BoardService.IBoardMgmtContract"
                name="Board" />
            <endpoint address="http://localhost/listservice/mex" binding="wsHttpBinding"
                bindingConfiguration="mex" contract="ListService.IListMgmtContract"
                name="mex" />
            <endpoint address="http://localhost/listservice/list" binding="basicHttpBinding"
                bindingConfiguration="list" contract="ListService.IListMgmtContract"
                name="list" />
            <endpoint address="http://localhost/cardservice/card" binding="basicHttpBinding"
                bindingConfiguration="card" contract="CardService.ICardMgmtContract"
                name="card" />
            <endpoint address="http://localhost/userprofservice/userprofile"
                binding="basicHttpBinding" bindingConfiguration="userprof"
                contract="UserProfileService.IUserMgmtContract" name="userprof" />
            <endpoint address="http://localhost/regservice/registration"
                binding="basicHttpBinding" bindingConfiguration="reg" contract="RegistrationService.IRegistrationContract"
                name="reg" />
        </client>
    </system.serviceModel>
</configuration>