<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="ConnectionString" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DataAccessLayer.Context;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="KanbanBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="KanbanBehavior" name="BusinessLogicLayer.Services.AuthorizationService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="Mex" contract="IMetadataExchange" />
        <endpoint address="authorization" binding="basicHttpBinding"
          bindingConfiguration="" name="Authorization" contract="BusinessLogicLayer.Interfaces.Contracts.IAuthorizationContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/authservice" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="KanbanBehavior" name="BusinessLogicLayer.Services.RegistrationService">
        <endpoint address="registration" binding="basicHttpBinding" bindingConfiguration=""
          name="reg" contract="BusinessLogicLayer.Interfaces.IRegistrationContract" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/authservice1" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="KanbanBehavior" name="BusinessLogicLayer.Services.BoardsMgmtService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <endpoint address="board" binding="basicHttpBinding" bindingConfiguration=""
          name="Board" contract="BusinessLogicLayer.Interfaces.Contracts.IBoardMgmtContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/authservice2" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="KanbanBehavior" name="BusinessLogicLayer.Services.CardsMgmtService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <endpoint address="card" binding="basicHttpBinding" bindingConfiguration=""
          name="card" contract="BusinessLogicLayer.Interfaces.Contracts.ICardMgmtContract" />
         <host>
          <baseAddresses>
            <add baseAddress="http://localhost/authservice3" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="KanbanBehavior" name="BusinessLogicLayer.Services.ListsMgmtService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="BusinessLogicLayer.Interfaces.Contracts.IListMgmtContract" />
        <endpoint address="list" binding="basicHttpBinding" bindingConfiguration=""
          name="list" contract="BusinessLogicLayer.Interfaces.Contracts.IListMgmtContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/authservice4" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="KanbanBehavior" name="BusinessLogicLayer.Services.UsersMgmtService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <endpoint address="userprofile" binding="basicHttpBinding" bindingConfiguration=""
          name="userprof" contract="BusinessLogicLayer.Interfaces.Contracts.IUserMgmtContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/authservice5" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>